*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #7209B7;
    --secondary-color: #4361EE;
    --third-color: #4CC9F0 ;
    --text-color: #EBEBEB;
    --fourth-color: #151515;
    --shadow: hsla(0, 0%, 8%, 0.5);
}



body{
    background: var(--fourth-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    color: var(--text-color);
    font-weight: 700;
    font-family: sans-serif;
    text-shadow: 0 0 5px var(--shadow);
}

p{
    font-size: 18px;
}

.page-warper{
    width: 100%;
    min-width: 400px;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg , var(--primary-color) , var(--secondary-color) , var(--third-color));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 400px;
    height: 60px;
    background-color: var(--primary-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 10px var(--shadow);

}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    
    
}

nav button{
    padding: 8px 14px;
    font-size: 15px;
}


section{
    width: 100%;
    min-width: 380px;
    max-width: 390px;
    height: 100%;
    min-height: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px var(--shadow);
}

.start-container ,
.quiz-container ,
.result-container ,
.create-container ,
.create-question-container ,
.create-answer-container {
     background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}


.start-container{
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 50px 20px 20px 20px;
}

/* ----- Upper Part is for Start Container ----- */

button{
    margin: 15px auto;
    padding: 14px 25px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 4px 4px 10px var(--shadow);
    
}

button:hover{
    background: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0px 0px 6px var(--shadow);
}

button:active{
    background: hsl(220, 83%, 60%);
    box-shadow: 0px 0px 6px var(--shadow);
}


.quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px 20px;
    gap: 10px;
    max-width: 320px;
}

.answers-container{
    margin: 10px;
}



.answers{
    width: 100%;
    min-width: 300px;
    max-width: 320px;
    height: 100%;
    padding: 10px 20px;
    margin: 10px auto;
    margin: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;

    box-shadow: 2px 2px 10px var(--shadow);
}

.answers input{
    margin: 6px 6px 6px 0;
}

.answers label:first-child{
    margin: 5px;
}

.answers label:last-child{
    width: 100%;
    height: 100%;
    margin: 5px 5px 5px 10px;
    text-align: start;
}

/* ----- Upper Part is for Answer Container ------ */

.result-container{
    gap: 20px;
    padding: 20px;
}

.result-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}









/* ----- Upper Part is for Result Container ----- */

.create-container{
    gap: 20px;
}

.create-question-container{
    gap: 10px;
}

.create-question-container label{
    font-size: 20px;

}


.create-container input[type='text']{
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    text-shadow: 0 0 1px var(--shadow);
    box-shadow: 2px 2px 8px var(--shadow);
}

.create-answer-container{
    gap: 10px;
} 

.answer-pairs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}


/* ----- Upper Part is for Create Quiz Container ----- */


.active{
    display: flex;
}

.hidden{
    display: none;
}




